{% extends 'main/layout.html' %}

{% block title %}
        Камеры
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Доступные камеры</h1>
        <p>Ниже представлены доступные камеры</p>
        <img src="http://localhost:8000/cam"/>
{#        <iframe width="743" height="418" src="https://www.youtube.com/embed/c-3gfY54XEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
        <p></p>
        <button class="btn btn-primary">АБОБА</button>
    </div>


{% endblock %}
